p {
    color: red;
    text-shadow: 1px 1px 1px black;
    padding: 3px;
    text-align: center;
}

h1 {
    color: red;
    text-shadow: 1px 1px 1px black;
    padding: 3px;
    text-align: center;
}

p {
    color: red;
    text-shadow: 1px 1px 1px black;
    padding: 3px;
    text-align: center;
}

ul {
    color: red;
    text-shadow: 1px 1px 1px black;
    padding: 3px;
    text-align: center;
}

